// colors
$red: #fc4747;
$dark-blue: #10141e;
$greyish-blue: #5a698f;
$semi-dark-blue: #161d2f;
$pure-white: #ffffff;

// Spacing
$space-xxsmall: 0.8rem;
$space-xsmall: 1.6rem;
$space-small: 1.8rem;
$space-medium: 2.4rem;
$space-large: 3.2rem;
$space-xl: 7rem;

// // Media Breaks
// $screen-large: 1200px;
$tablet-break: 1100px;
$mobile-break: 800px;

// Animation Timing
$fade: 0.2s;
